<form action="/course/add" method="POST">
    <div>
        <label>Course Name</label>
        <input value="" name="courseName" /><br>

        <label>Course Duration</label>
        <input value="" name="courseDuration" /><br>

        <label>Course Fees</label>
        <input value="" name="courseFees" />        
    </div>
    <div>
        <button type="submit">Add Course</button>
    </div>
</form>